<div class="main">
    <div class="main_container">
      <div class="image_price">
        <img src={{%IMAGE%}} alt="mobile phone" />
        <div class="price"><h4>PRICE: {{%PRICE%}}$</h4></div>
      </div>

      <div class="product_details">
        <h2>{{%NAME%}}</h2>
        <h4>Model No: {{%MODELNO%}} </h4>
        <H5>CAMERA: {{%CAMERA%}}</H5>
        <H5>DISPLAY SIZE: {{%SIZE%}}"</H5>
        <H5>STORAGE: {{%ROM%}}</H5>
        <div class="product_description">
            <p>
        {{%DESCRIPTION%}}
            </p>
          </div>
      </div>

      <div class="butttons">
        <button class="buy"><a href="/product?id={{%ID%}}">Buy Now</a></button>
        <button class="details">DETAILS</button>
      </div>
    </div>
  </div>